div.marquee
  div.marquee-content.scroll
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
  div.marquee-content.scroll
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
    p • VersionWow
