section.section__two
  div.padding-global.padding-section-xl
    div.container-large
      h1.blogs__heading Blogs
      button.button.secondary Learn More
      div.cards
        div.card
          h1 An Otter Essay
          div.stretched
            img(alt="", src="./src/assets/4.png", srcset="")
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores minima eligendi exercitationem eaque deserunt quod reiciendis aspernatur ea, accusamus cum, ipsam labore quis vero quasi, fuga culpa iusto? Porro?
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores minima eligendi exercitationem eaque deserunt quod reiciendis aspernatur ea, accusamus cum, ipsam labore quis vero quasi, fuga culpa iusto? Porro?
        div.card
          h1 An Otter Essay
          div.stretched
            img(alt="", src="./src/assets/1.png", srcset="")
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores minima eligendi exercitationem eaque deserunt quod reiciendis aspernatur ea, accusamus cum, ipsam labore quis vero quasi, fuga culpa iusto? Porro?
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cumque totam sunt amet earum iusto, laudantium fugit velit dicta? Perferendis fuga, reprehenderit sapiente dolore laudantium tempora obcaecati quaerat excepturi? Dolor.
        div.card
          h1 An Otter Essay
          div.stretched
            img(alt="", src="./src/assets/3.png", srcset="")
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores minima eligendi exercitationem eaque deserunt quod reiciendis aspernatur ea, accusamus cum, ipsam labore quis vero quasi, fuga culpa iusto? Porro?
          code Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores minima eligendi exercitationem eaque deserunt quod reiciendis aspernatur ea, accusamus cum, ipsam labore quis vero quasi, fuga culpa iusto? Porro?
