section.section__one
  div.padding-global.padding-section-xl
    div.container-large
      header.content-center
        h1 VersionWow
        p.tagline An independent creative studio designing to make you say wooow!
      div.divider
      button.button
        span(data-show="subscribe") Change Color
        span(data-show="subscribing") Changing
        span(data-show="success") Success
        span(data-show="error") Oops! No worries :)
      div.images
        div.image__wrapper
          img(alt="", src="./src/assets/4.png", srcset="")
          img(alt="", src="./src/assets/1.png", srcset="")
          img(alt="", src="./src/assets/3.png", srcset="")
          img(alt="", src="./src/assets/2.png", srcset="")
          img(alt="", src="./src/assets/5.png", srcset="")
