.padding-global {
  padding-right: 2rem;
  padding-left: 2rem;
}

.padding-section-lg {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-section-xl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
